{% extends 'base.html' %}

{% block content %}
<div class="register_comp">
    <header>
        <h1>Register</h1>
    </header>
    <form class="login_form" action="{{ url_for('register') }}" method="post">
        {% if msg %}
        <div class="msg" role="alert">
            {{ msg }}
        </div>
        {% else %}
        &nbsp;
        {% endif %}
        <div class="login_input">
            <label class="login_label" for="username">Username</label>
            <input class="login_input_obj" id="username" name="username" type="text" placeholder="ex: books1819" />
        </div>
        <div class="login_input">
            <label class="login_label" for="password">Password</label>
            <input class="login_input_obj" id="password" name="password" type="password" placeholder="ex: xxxxxxxx" />
        </div>
        <div class="login_input">
            <label class="login_label">What are you ?</label>
            <input class="login_input_obj" id="roles_admin" name="roles" value="1" type="radio" /> Admin
            <input class="login_input_obj" id="roles_manager" name="roles" value="2" type="radio" /> Manager
            <input class="login_input_obj" id="roles_user" name="roles" value="3" type="radio" /> User
        </div>
        <input type="submit" class="login_btn" value="Sign Up">
    </form>
    <p>Already have an account? <a class="cta_btn" href="{{url_for('login')}}"> Sign in here</a>
    </p>
    {% endblock %}